.label {
	width: 100%;
}
.input {
	width: 100%;
	padding: 5px;
	outline: 0;
	transition: border-color cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.input:hover,
.input:focus {
	border-color: aqua;
	transition: border-color cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.error {
	border-color: crimson;
	transition: border-color cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
